* {
  color:#ffffff;
  font-family:Arial, Helvetica, sans-serif;
}
#pageContainer {
  width:668px;
  margin:0 auto;
  background-color:#700b0b;
}
button {
  color:#000000;
  display:inline;
}
main {
  background-color:#700b0b;
  width:468px;
  height:468px;
  display:inline-block;
}
aside {
  vertical-align:top;
  display:inline-block;
  width:190px;
  height:500px;
  background-color:#cd5c5c;
  margin-top:3px;
  h3 {
    margin-top:2px;
    margin-bottom:2px;
    margin-left:26px;
  }
  h4 {
    margin-top:0px;
    margin-left:66px;
  }
  div p {
    display:inline;
  }
}
.newGame {
  margin-top:0px;
  margin-left:52px;
  margin-bottom:5px;
}
.playerSwitch1 {
  display:inline;
  margin-top:1px;
  margin-left:35px;
  border-top:1px solid;
}
.playerSwitch2 {
  display:inline;
  margin-top:0px;
  margin-left:35px;
  border-bottom:1px solid;
}
table tr td {
  border:1px solid;
  border-color:#700b0b;
}

header {
  h1{
    text-align: center;
    margin-bottom: 0px;
  }
  p{
    text-align: center;
    margin-top: 0px;
  }
}

.gameSquare {
  background:url(/images/favicon.jpg);
  background-size: 600px, 150px;
  width: 150px;
  height: 150px;
  &.playerImage1 {
    background-position: -200px, 0;
  }
  &.playerImage2 {
    background-position: -410px, 0;
  }
}

.playerSwitcherTable {
  padding-left: 1px;
}

.playerChange1 {
  background:url(/images/reecePlayerSprite.png);
  background-size: 600px, 150px;
  background-position: -3px, 0px;
  width: 210px;
  height: 160px;
  &.playerTypeImagerandom{
    background-position: -208px, 0;
  }
  &.playerTypeImagepre-trained{
    background-position: -399px, 0;
  }
}

.playerChange2 {
  background:url(/images/markPlayerSprite.png);
  background-size: 600px, 150px;
  background-position: -10px, 0px;
  width: 210px;
  height: 160px;
  &.playerTypeImagerandom{
    background-position: -213px, 0;
  }
  &.playerTypeImagepre-trained{
    background-position: -420px, 0;
  }
}



