<!DOCTYPE html>
<html ng-app="noughtsAndCrossesApp">
<head>

    <title>Noughts and Crosses</title>
    <link rel="stylesheet" type="text/css" href="css/default.min.css">
    <script src="/angular/angular.min.js"></script>

</head>
<body ng-controller="noughtsAndCrossesController">

    <h1>{{gameModel.gameboard}}</h1>
    <h1>{{gameModel.outcome}}</h1>
    <h1>The Winner is Player {{gameModel.winner}}</h1>

    <button ng-click="newGame()">New Game</button>

    <table>
        <tr>
            <td ng-click="makeMove(0)"><img src="images/cross.jpeg"></td>
            <td ng-click="makeMove(1)"><img src="images/nought.jpeg"></td>
            <td ng-click="makeMove(2)"><img src=""></td>
       </tr>
        <tr>
            <td ng-click="makeMove(3)"><img src=""></td>
            <td ng-click="makeMove(4)"><img src=""></td>
            <td ng-click="makeMove(5)"><img src=""></td>
        </tr>
        <tr>
            <td ng-click="makeMove(6)"><img src=""></td>
            <td ng-click="makeMove(7)"><img src=""></td>
            <td ng-click="makeMove(8)"><img src=""></td>
        </tr>
    </table>

    <div>
        <button ng-click="switchPlayer1()">Player 1</button>
        <p>{{gameModel.player1}}</p>
    </div>

    <div>
        <button ng-click="switchPlayer2()">Player 2</button>
        <p>{{gameModel.player2}}</p>
    </div>




<script src="scripts/built.js"></script>
</body>
</html>