<!DOCTYPE html>
<html ng-app="noughtsAndCrossesApp">
<head>

    <title>Noughts and Crosses</title>
    <link rel="alternate stylesheet" type="text/css" href="css/default.min.css">
    <script src="/angular/angular.min.js"></script>

</head>
<body ng-controller="noughtsAndCrossesController">

    <h1>{{gameModel}}</h1>
    <button ng-click="newGame()">New Game</button>
    <button ng-click="makeMove()">Make Move</button>


    <div>
        <button ng-click="switchPlayer1()">Player 1</button>
        <p style="display: inline">{{gameModel.player1}}</p>
    </div>

    <div>
        <button ng-click="switchPlayer2()">Player 2</button>
        <p style="display: inline">{{gameModel.player2}}</p>
    </div>


<script src="scripts/built.js"></script>
</body>
</html>